# Virtual environment
.venv/
venv/
env/

# Environment variables / API keys
.env

# Python cache
__pycache__/
*.py[cod]

# Hugging Face cache
.cache/
huggingface/
.huggingface/

# IDE files
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db